<!doctype html>
<html class="h-full" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Episode 3: Lists and Computed Properties</title>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="h-full grid place-items-center">
        <div id="app">
            <h2 class="font-bold"> Assignments</h2>
            <ul>
                <li v-for="assignment in assignments">
                    <label>
                        {{ assignment.name }} <input type="checkbox" v-model="assignment.complete">
                    </label>
                </li>
            </ul>

            <pre>
                {{ assignments}}
            </pre>
        </div>

        <script>
            let app = {
                data() {
                    return {
                        assignments: [
                            {name: 'Finish project', complete: false, id: 1},
                            {name: 'Read Chapter 4', complete: true, id: 2},
                            {name: 'Turn in Homework', complete: false, id: 3},
                        ]
                    }
                },
            };

            Vue.createApp(app).mount('#app');
        </script>
    </body>
</html>